/* RETOUR HAUT DE PAGE */
#scrollUp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 0.5;
}

/* MENU BURGER ENSEMBLE DU SITE  */
.burger-menu {
  background-color: transparent;
  color: #fff;
  width: 55px;
  height: 55px;
  border: none;
  display: none;
}

/* NAV BAR FIXE */
.scrolled {
  background-color: #282a31;
  position: fixed;
  z-index: 99999;
}

/* STYLE DE LA NAVBAR */
.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 20px 25px;
  transition: background-color 1s ease;
  z-index: 9999;
}

.logo img {
  height: 40px;
  margin-right: 40px;

}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  padding: 14px 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

/* SOUS MENU CATEGORIE SERVICE */
.dropdown {
  float: left;
  overflow: hidden;
  margin: 0
}

.dropdown li {
  padding: 1px;
  border: 1px solid transparent;
}

.dropdown .dropbtn {
  padding-bottom: 0;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  border: 1px solid transparent;
}

.dropdown-content {
  display: none;
  position: absolute;
  top:75% ;
  width: 10%;
  background-color: #f9f9f9d8;
  border: 1px solid white;
   border: 1px solid transparent;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.dropdown.open .dropdown-content {
  display: block;
}
.dropdown-content.show {
  display: block;
}
/*
.dropdown:hover .dropdown-content {
  display: block;
}*/

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  padding: 10px ;
  font-size: 14px;
  font-weight: 600;
  display: block;
  text-align: left;
   border: 1px solid transparent;
}

.dropdown-content a:hover {
  color: white;
}

.dropdown li:hover {
  background-color: #ea235f;

}

.dropdown-content {
  display: none;
}

.dropdown.open .dropdown-content {
  display: block;
}



@media (max-width: 1024px) {
  .active_page {
  background-color: #7e548a;
  color: #fff;
  border: transparent;
  text-decoration: none;
    padding: 7px;
 }
  .active_page a {
     background-color: #7e548a;
  color: #fff;
  border: none;
  }
  .logo img {
   height: 30px;
   margin: 0;
  }
 
  .burger-menu {
    display: block;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 10001;
  }

  .navbar {
    justify-content: center;
    flex-direction: row-reverse;
  }

  nav ul {
    display: none;
    flex-direction: column;
    background-color: #2d2e38a6;
    position: absolute;
    top: 50px;
    left: 0;
    width: 95%;
    padding: 0;
    margin:10px
  }

  nav ul.active {
    display: flex;
  }

  nav ul li {
    text-align: left;
    padding: 8px 10px;
     border: 1px solid rgba(255, 255, 255, 0.096);
  }

 .dropdown-content {
  position: relative;
  display: none;
  flex-direction: column;
  background-color: #2d2e38a6;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

  .dropdown.open .dropdown-content {
    display: flex; 
  }

  .dropdown-content li {
  width: 100%;
  box-sizing: border-box;
}

  .dropdown-content li:hover {
    background-color: #7e548a;
  }

  .dropdown-content a {
  display: block;
  width: 100%;
  color: white;
  font-size: 12px;
  text-decoration: none;
  padding-left: 0;
}

  .dropdown-content a:hover {
    background-color: #7e548a;
  }
}
